body{
  height: 100vh; background: url(../images/bg.jpg) no-repeat center/cover fixed; 
}

a{color: inherit;text-decoration: none;}

/* common.scss */
.inner{
  max-width: 660px;
  margin: 0 auto;
  padding: 40px 20px;
  position: relative;
}

@mixin center{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
