
@import './common.scss';

.container{
  padding: 50px 0;
  .heroes{
    @include center();
    .hero {
      width: 80px;height: 80px;margin: 4px;border: 3px solid #fff;border-radius: 10px;box-sizing: border-box; overflow: hidden;background-color: #555;transform: skewX(-14deg);transition:.1s, background-color .6s;
      &:hover{
      background-color: #ff9c00; transform: skewX(-14deg) scale(1.3); z-index: 1;
      }
      .image{
      width: 140%;height: 100%;transform: translateX(-16px) skewX(14deg);background-position: center;background-repeat: no-repeat;background-size: 90px;
      }
      @for $i from 1 through 32{
        &:nth-child(#{$i}) .image{
        background-image: url(../images/hero#{$i}.png);
        }
      }
    }
  } 
  .logo{
    max-width: 300px;margin: 0 auto;padding: 15px 20px;
    outline: 1px solid red;
    img{
      width: 100%;
    }
    p{
      text-align: center;
      font-size: 12px;
    }
  }
}
